.container--train {
    /* width: 500px */

    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 200px));
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.container--train > p {
    padding: .5rem .5rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    word-wrap: break-word;
}
/* Marta Colors Blue RGB(0,138,198) yellow RGB(255,165,43) orange RGB(249,103,40) */



#weatherDiv {
    border: 1px solid black;
    width: 25%;
    text-align: center;
    background-color: RGB(0,138,198);
}

.about {
    text-align: center;
}